.activity {
    background-color: azure;
    border: 3px solid rgb(231, 228, 228);
    border-radius: 5px;
    margin: 10px;
}
.activity img {
    height: 286px;
    width: 100%;
}



.add-btn {
    border: none;
    color: azure;
    font-size: 15px;
    background-color: rgb(47, 167, 237);
    padding: 10px 32px;
    border-radius: 5px;
    text-align: center;
}
.add-btn:hover {
    background-color:  rgb(8, 200, 168);
}